body {
  background-color: rgb(248, 48, 48);
}

h1{
  text-align: center;
  text-decoration: underline;
  background-color: lightgrey;
  color: navy;
  font-size: 2cm;
}
h2{ 
  text-align: center;
  font-size: 1cm;
  color: navy
}

p{
  text-align: justify;
  margin: 2cm;
  font-size: 0.5cm;
  color: white;
  text-indent: 10mm;
}

